/* Import Lexend font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500&family=Quicksand:wght@100;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
/* Import Lexend, Quicksand, and Source Sans Pro fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500&family=Quicksand:wght@100;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #1b1b1b;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Espacio entre el header y el contenido */
.content {
    padding-top: 70px; /* Asegura que el contenido no quede detrás del header */
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 16px;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.liecar-text {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 290;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

nav a {
    color: #e1dfdb;
    text-decoration: none;
    margin-left: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14.6667px;
    line-height: normal;
    font-weight: 400;
    text-align: left;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

nav a.active {
    color: #ffffff;
}

.search-icon {
    color: #e0e2e2;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-icon:hover {
    color: #ffffff;
}

.hero {
    background-image: url('images/lab-background.jpg');
    background-size: cover;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    text-align: center;
    color: white;
    z-index: 1;
    width: 1357px;

}

.hero-logo {
    max-width: 100%;
    height: auto;
    width: 300px;
}

.content {
    padding-top: 70px; /* Espacio para la barra de navegación fija */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    background-color: #f0f0f0;
}

#map-block {
    
    height: 400px; /* Ajusta la altura del mapa */
    width: 100%; /* Ajusta el ancho del mapa */
    margin: 0 auto; /* Centra el mapa horizontalmente */
    max-width: 900px; /* Tamaño máximo opcional */
    justify-content: center; /* Para centrar el mapa horizontalmente */
    text-align: center;
    margin-top:  50px;
}

#map-block iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contact-info {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #f5f5f5; /* Color de fondo */
    color: #666; /* Color del texto */
    padding: 10px;
    text-align: center;
    font-size: 14px; /* Tamaño del texto */
    border-top: 1px solid #e0e0e0; /* Línea superior */
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
