/* Import Lexend font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500&family=Quicksand:wght@100;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
/* Importa las fuentes Lexend, Quicksand y Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;500&family=Quicksand:wght@100;300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&family=Quicksand:wght@300;400&family=Lexend:wght@300;500&display=swap');

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #1b1b1b;
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 16px;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.liecar-text {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 290;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

nav a {
    color: #e1dfdb;
    text-decoration: none;
    margin-left: 20px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14.6667px;
    line-height: normal;
    font-weight: 400;
    text-align: left;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

nav a.active {
    color: #ffffff;
}

.search-icon {
    color: #e0e2e2;
    font-size: 15px;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-icon:hover {
    color: #ffffff;
}

.hero {
    background-image: url('images/lab-background.jpg');
    background-size: cover;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    text-align: center;
    color: white;
    z-index: 1;
    width: 1357px;

}

.hero-logo {
    max-width: 100%;
    height: auto;
    width: 300px;
}

.content {
    padding-top: 70px; /* Espacio para la barra de navegación fija */
}


 
/* Titulo de la pagina */
.proyecto {
    padding: 1rem;
    flex-direction: column; /* Apila los proyectos verticalmente */
    gap: 30px; /* Espacio entre los proyectos */ 
}

/* RECTÁNGULO para enmarcar */
.rectangulo {
    border: 2px solid white; /* Borde blanco alrededor del contenido */
    padding: 20px -10px; /* Espaciado dentro del marco */
    display: inline-block; /* Ajusta el tamaño del contenedor al contenido */
    text-align: center; /* Centra el texto dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    box-sizing: border-box; /* Asegura que el padding no expanda el contenedor */
}
.proyecto h2 {
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 79.92px;
    font-size: 72px;
    margin-bottom: 100px;
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.proyecto h3 {
 
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 79.92px;
    font-size: 72px;
    margin-bottom: 100px;
    position: absolute;
    top: 174px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

/* Primer Título */
.proyecto-titulo h1{
    color: #212121;
    font-weight: 700;
    font-family: 'Lexend', Arial;
    text-align: center;
    line-height: normal;
    font-size: 40px;
    margin-bottom: 103px;
    letter-spacing: 0.4px;
    margin-left: 0%;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
     

}

/* Estilos del contenido de la imagen y el texto */
.proyecto-container {
    display: flex;
    align-items: flex-start; /* Alinea en la parte superior */
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin: 50px; /* Márgenes alrededor del contenedor */
    flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan */
}

/* Estilos para la sección de la imagen */
.image-proyecto {
 
    margin-left: 63px;
    margin-right: 26px;
}

/* Imagen responsiva */
.image1 {
    width: 463px; /* Ajusta el tamaño máximo de la imagen */
    height: 310px; /* Mantiene la proporción de la imagen */
}

.image2 {
 
    width: 463px; /* Ajusta el tamaño máximo de la imagen */
    height: 299px; /* Mantiene la proporción de la imagen */
}


.image3 {
    width: 463px; /* Ajusta el tamaño máximo de la imagen */
    height: 244px; /* Mantiene la proporción de la imagen */
}


.image4 {
    width: 463px; /* Ajusta el tamaño máximo de la imagen */
    height: 163px; /* Mantiene la proporción de la imagen */
}

.image5 {
    width: 463px; /* Ajusta el tamaño máximo de la imagen */
    height: 254px; /* Mantiene la proporción de la imagen */
}


/* Estilos para el texto */
.texto-proyecto {
    color: #212121;
    font-family: "Lexend", Arial;
    font-size: 26.6667px;
    line-height: 36.8px;
    flex: 1; /* Permite que el texto ocupe el resto del espacio disponible */
    margin-right: 40px; /* Ajusta el margen derecho */
    letter-spacing: normal;
    text-align: left;
    text-align: start;
    font-weight: 400;
}
a {
    font-family: "Quicksand", Arial;
    font-size: 16px;
    text-align: start;
    line-height: 22.08px;
    color: rgb(15, 111, 165); /* Color del enlace */
    font-weight: 700;
 
}
.text-abstract {
    color: #212121;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    line-height: 22.08px;
    flex: 1; /* Permite que el texto ocupe el resto del espacio disponible */
    margin-right: 50px; /* Ajusta el margen derecho */
    letter-spacing: normal;
    text-align: left;
    text-align: start;
    font-weight: 600;
}
.proyecto-text {
    font-family: "Lato", Arial;
    font-size: 16px;
    line-height: 22.08px;
    text-align: justify;
    color: #212121;
    margin: 0; /* Elimina márgenes extras */
    letter-spacing: normal;
    font-weight: 300;
    margin-bottom: 18px;
}

/* Pie de página */
footer {
    font-family: "Quicksand", sans-serif;
    font-size: 13.333px;
    text-align: center;
    padding: 20px;
    bottom: 32px; /* 32px desde el final de la ventana */
    width: 100%;
    letter-spacing: normal;
    line-height: 16px;
}